@use "global";

#gameContainer {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.gameBox {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px global.$accent-light);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid var(--text-color);
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10%;
    cursor: pointer;
    background-position: center;
    transition-duration: 0.5s;
    font-size: 150%;
}

.gameBox:hover {
    transform: scale(1.25, 1.25);
    z-index: 2;
}

#searchInput {
    width: 25vw;
    height: 25px;
    border-radius: 10px;
}