@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #252025;
    color: #d5cde4;
    text-align: center;
    font-family: "Open Sans";
}

.logo {
    filter: drop-shadow(0 0 10px #5e17eb);
    animation: loglow 2s infinite alternate;
}

@keyframes loglow {
    0% {
        filter: drop-shadow(0 0 10px #5e17eb);
    }
    100% {
        filter: drop-shadow(0 0 25px #5e17eb);
    }
}

#bigPlayButton {
    background: linear-gradient(90deg, #26134d, #281255);
    color: #EEEEEE;
    font-size: 500%;
    padding: 50px;
    text-shadow: 0 0 10px #7c43ec, 0 0 20px #7c43ec, 0 0 30px #5e17eb, 0 0 40px #5e17eb, 0 0 50px #5e17eb, 0 0 60px #5e17eb, 0 0 70px #5e17eb;
    border-radius: 20px;
    border: none;
    filter: drop-shadow(0 0 50px #4311a5);
    cursor: pointer;
    transition-duration: 0.5s;
}

#bigPlayButton:hover {
    filter: drop-shadow(0 0 100px #4f13c7);
    transform: scale(1.05);
}

#about {
    margin-top: 120px;
}

a {
    color: #d5cde4;
    text-underline-offset: 2.5px;
    transition-duration: 0.25s;
}

a:hover {
    text-underline-offset: 0px;
}