@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$accent: #5e17eb;
$accent-light: #7c43ec;
$accent-dark: #4311a5;
$text-color: #d5cde4;
$background-color: #252025;

body {
    background-color: $background-color;
    color: $text-color;
    text-align: center;
    font-family: "Open Sans";
    padding: 0;
}

.logo {
    filter: drop-shadow(0 0 10px $accent);
    animation: loglow 2s infinite alternate;
    top: 10px;
}

@keyframes loglow {
    0% {
        filter: drop-shadow(0 0 10px $accent);
    }
    100% {
        filter: drop-shadow(0 0 25px $accent);
    }
}

.bigPlayButton {
    background: linear-gradient(90deg, #26134d, #281255);
    color: #eeeeee;
    font-size: 250%;
    padding: 50px;
    text-shadow: 0 0 10px $accent-light, 0 0 20px $accent-light,
        0 0 30px $accent, 0 0 40px $accent, 0 0 50px $accent, 0 0 60px $accent,
        0 0 70px $accent;
    border-radius: 20px;
    border: none;
    filter: drop-shadow(0 0 50px $accent-dark);
    cursor: pointer;
    transition-duration: 0.5s;
    width: 75vw;
    margin: 0 auto;
}

.smallerPlayButtonsContainer {
    display: flex;
    gap: 10px;
}

.smallerPlayButtons{
    background: linear-gradient(90deg, #26134d, #281255);
    color: #eeeeee;
    font-size: 150%;
    padding: 50px;
    text-shadow: 0 0 10px $accent-light, 0 0 20px $accent-light,
        0 0 30px $accent, 0 0 40px $accent, 0 0 50px $accent, 0 0 60px $accent,
        0 0 70px $accent;
    border-radius: 20px;
    border: none;
    filter: drop-shadow(0 0 50px $accent-dark);
    cursor: pointer;
    transition-duration: 0.5s;
    width: 40vw;
    margin: 0 auto;
}


.bigPlayButton:hover {
    filter: drop-shadow(0 0 100px $accent-dark);
    transform: scale(1.05);
}

.smallerPlayButtons:hover {
    transform: scale(1.05);
}

#about {
    margin-top: 120px;
}

a {
    color: $text-color;
    text-underline-offset: 2.5px;
    transition-duration: 0.25s;
}

a:hover {
    text-underline-offset: 1px;
}

::placeholder {
    color: $text-color;
}

input {
    color: $text-color;
    background-color: $accent-light;
    filter: drop-shadow(0 0 5px $accent-light);
    border: none;
    text-align: center;
}

#corner-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $accent-dark;
    padding: 5px 10px;
    border-radius: 0 0 0 10px;
    display: flex;
    gap: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: $accent-dark;
}

::-webkit-scrollbar-thumb {
    background: $accent-light;
    border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $text-color;
}

button {
    background: linear-gradient(90deg, #26134d, #281255);
    color: #eeeeee;
    padding: 7.5px;
    filter: drop-shadow(0 0 5px $accent-light);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}