#gameFrame {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100vw;
    height: 90vh;
}

#bottomMenu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 20px);
    height: 10vh;
    text-align: left;
    font-size: 150%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
}