@use "global";

.container-div {
    display: flex;
    gap: 10px;
    background-color: rgba(global.$accent-dark, 0.4);
    align-items: center;
    justify-content: center;
    padding: 20px;
    filter: drop-shadow(0 0 5px global.$accent);
}

.child-div {
    gap: 10px;
    border: 2px solid global.$accent-light;
    padding: 10px;
    width: 20vw;
}

.input-container {
    display: flex;

    justify-content: center;
}

input {
    width: 100%;
}

h2 {
    width: 99vw;
    background-color: rgba(global.$accent-dark, 0.5);
    text-align: center;
    margin: 10px auto;
    filter: drop-shadow(0 0 10px global.$accent);
}